/* MAIN STRUCTURE */

html {
    font-family: monospace;
    font-size: 16px;
    background-color: rgb(109, 109, 109);
    margin: 0;
    overflow-y: scroll;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
}

.page-container {
    display: block;
    width: 100%;
    height: auto;
}

/* HEADER */

header {
    position: sticky;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 10;
}

.h-container {
    display: flex;
    align-items: center;
    background-color: rgb(150, 150, 150);
    width: 100%;
    justify-content: space-between;
}

.logo {
    display: flex;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    float: left;
    margin: 1rem;
}

.h-nav {
    display: flex;
    margin: 1rem;
    align-items: flex-end;
}

.h-a {
    margin: 1rem;
}

/* SECCION DE CASAS: IZQUIERDA Y DERECHA */

.casas-container1 {
    max-width: 100%;
    display: flex;
    align-items: center;
}

.casas-container2 {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-container {
    display: block;
    max-width: 55%;
    height: 90%;
    margin: 0 1rem;
}

.img-c {
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
}

.casa-info {
    max-width: 40%;
    margin: 1rem;
    padding-left: 1rem;
}

.c-1 {
    position: relative;
    top: 2.25rem;
    left: 0;
    height: 32.25rem;
    background-color: whitesmoke;
}

.c-2 {
    position: relative;
    top: 2.25rem;
    left: 0;
    height: 32.5rem;
    flex-direction: row-reverse;
}

.c-3 {
    position: relative;
    top: 2.25rem;
    left: 0;
    height: 32.5rem;
    background-color: whitesmoke;
}

.c-4 {
    position: relative;
    top: 2.25rem;
    left: 0;
    height: 32.5rem;
    flex-direction: row-reverse;
}

/* FOOTER */

footer {
    background-color: rgb(148, 148, 148);
    width: 100%; 
    height: 6.5rem;
    position: relative;
    top: 2.25rem;
    left: 0;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.875rem;
    color: white;
    font-weight: bolder;
    font-size: 1.25rem;
}

/* Buttons */

.button {
    background-color: white;
    border-radius: 0.2rem;
    padding: 0.3rem;
    box-shadow: 0.188rem 0.188rem black;
    color: black;
}

.button:hover {
    background-color: goldenrod;
    box-shadow: 0.313rem 0.313rem black;
    transition: background-color ease-in 100ms,
                box-shadow ease-in 100ms;
    cursor: pointer;
}

.button:active {
    text-decoration: none;
}
