/* Main Structure */

html {
    font-family: monospace;
    font-size: 16px;
    background-color: rgb(109, 109, 109);
    margin: 0;
    overflow-y: scroll;
    height: auto;
}

body {
    margin: 0;
}

h1 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.page-container {
    display: block;
    width: 100%;
    height: auto;
}

/* HEADER */

header {
    position: sticky;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 10;
    font-size: 1rem;
}

.h-container {
    display: flex;
    align-items: center;
    background-color: rgb(150, 150, 150);
    width: 100%;
    justify-content: space-between;
}

.logo {
    display: flex;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    float: left;
    margin: 1rem;
}

.h-nav {
    display: flex;
    margin: 1rem;
    align-items: flex-end;
}

.h-a {
    margin: 1rem;
}

/* SECCION 1: FOTOS PORTADA */

.sec-f {
    position: relative;
    width: 100%;
    height: 36rem;
    top: 2rem;
    left: 0;
    align-items: center;
    z-index: 9;
    display: flex;
    background: url(/resources/css/2diamondhands.jpg) center center/cover no-repeat;
}

.f-container {
    height: 100%;
    width: 100%;
    display: flex;
   
    align-items: flex-end;
    justify-content: center;
}

.fotos-portada {
    align-items: flex-end;
    justify-content: center;
}

.bh {
    height: fit-content;
    width: fit-content;
    display: flex;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.f-img {
    width: 100%;
    height: auto;
}

.f-but {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* SECCIONES 2 Y 3: SORIA Y DEPORTES */

.s-container1 {
    display: block;
    position: relative;
    top: 2rem;
    z-index: 8;
    left: 0;
    padding-bottom: 1rem;
}

.s-container2 {
    display: block;
    position: relative;
    top: 2rem;
    z-index: 7; 
    left: 0;
    padding-bottom: 1rem;
}

.title {
    color: white;
    display: flex;
    font-size: 2rem;
    height: 17%;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0%;
}

.info {
    margin: 1rem;
    width: 100%;
    height: 40%;
}

.soria-l {
    display: flex;
    justify-content: center;
}

.box1 {
    max-width: 25%;
    max-height: 50%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 0.5rem;
    margin: 2.5rem;
    padding: 0%;
}

.box1 img {
    width: 100%;
    height: 70%;
    border-radius: 0.5rem;
}

.box-main {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1rem;
}

.col-2 {
    background-color: cornflowerblue;
}

.col-1 {
    background-color: aquamarine;
}

/* FOOTER */

footer {
    background-color: rgb(148, 148, 148);
    width: 100%; 
    height: 6.5rem;
    position: relative;
    top: 2rem;
    left: 0;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.875rem;
    color: white;
    font-weight: bolder;
    font-size: 1.25rem;
}

/* Buttons */

.button {
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0.188rem 0.188rem black;
    color: black;
}

.button:hover {
    background-color: rgb(226, 226, 226);
    box-shadow: 0.375rem 0.375rem black;
    transition: background-color ease-in 100ms,
                box-shadow ease-in 100ms;
    cursor: pointer;
}

.button:active {
    text-decoration: none;
}