/* MAIN STRUCTURE */

html {
    font-family: monospace;
    font-size: 16px;
    background-color: rgb(109, 109, 109);
    margin: 0;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
}

.page-container {
    display: block;
    width: 100%;
    height: auto;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 10;
}

.h-container {
    display: flex;
    align-items: center;
    background-color: rgb(150, 150, 150);
    width: 100%;
    justify-content: space-between;
}

.logo {
    display: flex;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    float: left;
    margin: 1rem;
}

.h-nav {
    display: flex;
    margin: 1rem;
    align-items: flex-end;
}

.h-a {
    margin: 1rem;
}

/* Buttons */

.button {
    background-color: white;
    border-radius: 0.2rem;
    padding: 0.3rem;
    box-shadow: 3px 3px black;
    color: black;
}

.button:hover {
    background-color: goldenrod;
    box-shadow: 5px 5px black;
    transition: background-color ease-in 100ms,
                box-shadow ease-in 100ms;
}

.button:active {
    text-decoration: none;
}

/* FOOTER */

footer {
    background-color: rgb(148, 148, 148);
    width: 100%; 
    height: 96px;
    position: absolute;
    top: 1932px;
    left: 0;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
